/JavaFXApplication5/nbproject/private/*
/Library/dist/*
/Library/build/*
/Library/nbproject/*
/Server/dist/*
/Server/build/*
/Server/nbproject/*
/Client/dist/*
/Client/build/*
/Client/nbproject/*
/Cliente/nbproject/private/
/Servidor/nbproject/private/
/Libreria/nbproject/private/
/Libreria/build/
/Libreria/dist/
/Cliente/build/
/Cliente/dist/
/Servidor/build/
/Servidor/dist/
/AratzEgurenPSP/Libreria/build/
/AratzEgurenPSP/Libreria/dist/
/AratzEgurenPSP/Libreria/nbproject/private/
/AratzEgurenPSP/Servidor/build/
/AratzEgurenPSP/Servidor/dist/
/AratzEgurenPSP/Servidor/nbproject/private/
/AratzEgurenPSP/Cliente/build/
/AratzEgurenPSP/Cliente/dist/
/AratzEgurenPSP/Cliente/nbproject/private/